openapi: 3.0.0
info:
  title: HUSTPass authentication API
  version: 1.0.0
servers:
  - url: https://ali.idc.codes
    description: Production server
paths:
  /login:
      post:
        summary: Login
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  password:
                    type: string
                  lt:
                    type: string
                    description: Login token, should be the same as in the captcha response
                  jsessionid:
                    type: string
                    description: Login JSESSIONID, should be the same as in the captcha response
                  code:
                    type: string
                    description: Captcha code
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/LoginResponse'
                example:
                  status: 200
                  msg: Success
                  castgc: TGT-U...-...-...-cas
                  jsessionid: ABCDEFGHIJKLMNOPQRSTUVWXYZ
          '400':
            description: Bad request
          '403':
            description: Username, password or captcha code is incorrect
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/LoginResponse'
                example:
                  status: 403
                  msg: Wrong username, password or captcha.
                  jsessionid: null
          '500':
            description: Internal Error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/LoginResponse'
  /login/refresh:
    get:
      summary: refresh JSESSIONID
      parameters:
        - name: castgc
          in: query
          required: true
          schema:
            type: string
          description: CASTGC for HUSTPASS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                status: 200
                msg: Success
                castgc: TGT-U...-...-...-cas
                jsessionid: ABCDEFG
        '400':
          description: Bad request
        '403':
          description: Username, password or captcha code is incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                status: 403
                msg: Wrong username, password or captcha.
                jsessionid: null
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /login/captcha:
    get:
      summary: Get captcha
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptchaResponse'
              example:
                status: 200
                msg: Success
                ticket: LT-...-...-cas
                jsessionid: ...!...
                img_base64: ...
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptchaResponse'
        '400':
          description: Bad request
  /report:
    get:
      summary: Report
      parameters:
        - name: JSSESSIONID
          in: header
          required: true
          schema:
            type: string
          description: JSESSIONID for ecard system
        - name: period
          in: query
          required: true
          schema:
            type: string
            enum: [week, month, year]
          description: Period of the report
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
              example:
                status: 201
                msg: Report generation queued
                data: null
        '102':
          description: Processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
              example:
                status: 102
                msg: Report is being generated
                data: null
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
              example:
                status: 200
                msg: Success
                data:
                  name: "张三"
                  id: "U201700000"
                  balance: 114514
                  total_expense: 1919810
                  total_count: 1919
                  top_expense:
                    time: "2021-01-01 00:00:00"
                    location: "东区食堂"
                    amount: 1919.810
                  top_count:
                    time: "2021-01-01 00:00:00"
                    location: "东区食堂"
                    amount: 1919.810
                  trend:
                    - count: 11
                      amount: 1919.810
                    - count: 45
                      amount: 810.191
                    - count: 14
                      amount: 114.514
                  cafeteria_count: 1919
                  breakfast:
                    count: 810
                    amount: 1919.810
                    location: "东区食堂"
                  lunch:
                    count: 810
                    amount: 1919.810
                    location: "东区食堂"
                  dinner:
                    count: 810
                    amount: 1919.810
                    location: "东区食堂"
        '403':
          description: JSESSIONID is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
              example:
                status: 403
                msg: JSESSIONID is invalid
                data: null
        '500':
          description: Internal Error
        '400':
          description: Bad request


components:
  schemas:
    LoginResponse:
      type: object
      properties:
        status:
          type: integer
          description: Status code
        msg:
          type: string
          description: Message
        castgc:
          type: string
          description: CASTGC for HUSTPASS
        jsessionid:
          type: string
          description: JSESSIONID for ecard system
    CaptchaResponse:
      type: object
      properties:
        status:
          type: integer
          description: Status code
        msg:
          type: string
          description: Message
        ticket:
          type: string
          description: lt for following login request
        jsessionid:
          type: string
          description: JSESSIONID for following login request
        img_base64:
          type: string
          description: Base64 encoded captcha image
    Expense:
      type: object
      properties:
        time:
          type: string
          description: Time
        location:
          type: string
          description: Location
        amount:
          type: number
          description: Amount
    Trend:
      type: object
      properties:
        time:
          type: string
          description: Timestamp
        amount:
          type: number
          description: Amount
    ReportResponse:
      type: object
      properties:
        status:
          type: integer
          description: Status code
        msg:
          type: string
          description: Message
        data:
          type: object
          description: Report data
          properties:
            name:
              type: string
              description: Student name
            id:
              type: string
              description: Student ID
            balance:
              type: number
              description: Balance
            total_expense:
              type: integer
              description: Total expense during the specified period
            total_count:
              type: integer
              description: Total count of expenses during the specified period
            top_expense:
              description: One expense that has the highest amount
              $ref: '#/components/schemas/Expense'
            top_count:
              description: One location that has the most expenses happened
              $ref: '#/components/schemas/Expense'
            trend:
              type: array
              description: Expense trend of 3 periods
              items:
                $ref: '#/components/schemas/Trend'
            cafeteria_count:
              type: integer
              description: Total count of expenses in cafeteria
            breakfast:
              type: object
              description: Breakfast expense
              properties:
                count:
                  type: integer
                  description: Count
                amount:
                  type: number
                  description: Amount
                location:
                  type: string
                  description: Location
            lunch:
              type: object
              description: Lunch expense
              properties:
                count:
                  type: integer
                  description: Count
                amount:
                  type: number
                  description: Amount
                location:
                  type: string
                  description: Location
            dinner:
              type: object
              description: Dinner expense
              properties:
                count:
                  type: integer
                  description: Count
                amount:
                  type: number
                  description: Amount
                location:
                  type: string
                  description: Location
